In [10]:
import pandas as pd

# 替換為你的檔案路徑
bank = pd.read_csv('BankChurners.csv')

# 顯示前五筆資料
print(bank.head())

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0  768805383  Existing Customer            45      M                3
1  818770008  Existing Customer            49      F                5
2  713982108  Existing Customer            51      M                3
3  769911858  Existing Customer            40      F                4
4  709106358  Existing Customer            40      M                3

  Education_Level Marital_Status Income_Category Card_Category  \
0     High School        Married     $60K - $80K          Blue
1        Graduate         Single  Less than $40K          Blue
2        Graduate        Married    $80K - $120K          Blue
3     High School        Unknown  Less than $40K          Blue
4      Uneducated        Married     $60K - $80K          Blue

   Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
0              39  ...       12691.0                  777          11914.0
1              44  ...        8256.0                  864           7392.0
2              36  ...        3418.0                    0           3418.0
3              34  ...        3313.0                 2517            796.0
4              21  ...        4716.0                    0           4716.0

   Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
0                 1.335             1144              42                1.625
1                 1.541             1291              33                3.714
2                 2.594             1887              20                2.333
3                 1.405             1171              20                2.333
4                 2.175              816              28                2.500

   Avg_Utilization_Ratio  \
0                  0.061
1                  0.105
2                  0.000
3                  0.760
4                  0.000

   Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                           0.000093
1                                           0.000057
2                                           0.000021
3                                           0.000134
4                                           0.000022

   Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                            0.99991
1                                            0.99994
2                                            0.99998
3                                            0.99987
4                                            0.99998

[5 rows x 23 columns]

In [11]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [12]:
pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\michael\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (4.62.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (1.20.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (1.7.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (1.3.4)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (6.5.2)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\michael\anaconda3\lib\site-packages (from sweetviz) (3.4.3)
Requirement already satisfied: zipp>=3.1.0 in c:\users\michael\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\michael\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\michael\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\michael\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\michael\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\michael\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\michael\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: six in c:\users\michael\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\michael\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: colorama in c:\users\michael\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import sweetviz as sv

report = sv.analyze(bank)
report.show_html("sweetviz_report.html")

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [13]:
# Drop 掉 Naive Bayes 模型自動產生的預測欄位
# 這是過去別的機器學習跑的資料所以要drop
bank = bank.drop(columns=[
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'
])

In [14]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

In [16]:
from sklearn.model_selection import train_test_split

target = 'Attrition_Flag'

X_train, X_test, y_train, y_test = train_test_split(
    bank.drop(columns=[target]),
    bank[target],
    test_size=0.2,
    stratify=bank[target],
    random_state=42
)

# 顯示流失率
print("原始資料流失率:\n", bank[target].value_counts(normalize=True))
print("\n訓練資料流失率:\n", y_train.value_counts(normalize=True))
print("\n測試資料流失率:\n", y_test.value_counts(normalize=True))

# 合併欄位並匯出
train_df = X_train.copy()
train_df[target] = y_train
test_df = X_test.copy()
test_df[target] = y_test

train_df.to_csv("bank_train.csv", index=False)
test_df.to_csv("bank_test.csv", index=False)

原始資料流失率:
 Existing Customer    0.83934
Attrited Customer    0.16066
Name: Attrition_Flag, dtype: float64

訓練資料流失率:
 Existing Customer    0.839279
Attrited Customer    0.160721
Name: Attrition_Flag, dtype: float64

測試資料流失率:
 Existing Customer    0.839585
Attrited Customer    0.160415
Name: Attrition_Flag, dtype: float64